{% extends "main/base.html" %}

{% block title %}Skanowanie{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-3 justify-content-center">
            <div>
                <h6 style="text-align:center;">Sprawdź czy dane się pobrane z kodu się zgadzają</h6>
                <p style="text-align:center;font-size: x-small;">*Dane aktualizują się wraz z wyświetleniem komunikatu</p>
            </div><br/><br/>
            <div id="center" class="row">
                <div class="col justify-content-center">
                    <p><b>Sala</b></p>
                    <p name="room">{{room}}</p>
                </div>
                <div class="col">
                    <p><b>Rząd</b></p>
                    <p name="row">{{row}}</p>
                </div>
                <div class="col">
                    <p><b>Kolumna</b></p>
                    <p name="column">{{col}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js_head %}
    <style type="text/css">
        #center p {
            text-align: center;
            margin-bottom: 1px;
        }
    </style>
{% endblock %}