{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Zaloguj się{% endblock %}

{% block content %}
    <h5>Zaloguj się jako nauczyciel</h5>

    <form method="POST" class="align-self-center">
        {% csrf_token %}
        <label for="login">Login</label>
        <input type="text" id="login" name="login" class="form-control" /><br />
        <label for="pin">PIN</label>
        <input type="password" id="pin" name="pin" class="form-control" />
        <p style="color:#d05050">{{error}}</p>
        <br/>
        <button type="submit" class="btn btn-secondary">Zaloguj się</button>
    </form>
{% endblock %}